/* -- BASE -- */
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
}

p, ul {
	margin-block-start: 0;
    margin-block-end: 0;
}

ul {
	padding-inline-start: 0;
}
main {
	position: relative;
}

a, p {
	font-family: Inter, sans-serif;
}

.m-block {
	margin: 0 calc(0px + (100vw - 320px) * (258 / 1600));
}

.p-block {
	padding: 0 calc(15px + (100vw - 320px) * (243 / 1600));
}

.p-block-md {
	padding: 0 calc(0px + (100vw - 768px) * (162 / 1152));
}

@media (max-width: 768px) {
	.p-block-md {
		padding: 0 0;
	}
}
/* -- END BASE -- */

/* -- HEADER -- */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	height: 71px;
	background: url("/assets/images/background/0876A6.png");
}
footer .footer-container .footer-logo,
header .header-logo {
	width: calc(130px + (100vw - 320px) * (70 / 1600));
	transition: .5s;
}

header .header-logo:hover {
	transform: scale(1.025);
	transition: .5s;
}

header .header-logo img,
footer .footer-logo img {
	min-width: inherit;
	width: inherit;
	max-width: inherit;

	min-height: inherit;
	height: inherit;
	max-height: inherit;
}

header .header-items { }

header .header-items a {
	display: inline-block;

	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	transition: .5s;

	color: white;
	text-decoration: none;
}

header .header-items a:hover {
	transform: scale(1.025);
	transition: .5s;
}
/* -- END HEADER -- */

/* -- BANNER -- */
.invoice-banner {
	position: absolute;
	width: 100%;
}

.banner-container {
	position: relative;
	width: 100%;
	background: url('/assets/images/png/banner-image.png') center top no-repeat;
	min-height: 612px;
}

.banner-container .overflow {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;

	background: rgba(67, 67, 67, 0.9);
}

.banner-container img {
	width: 100%;
	height: 100%;
}

/* -- END BANNER -- */

/* -- INVOICE CONTAINER -- */
.invoice-container {
	position: relative;
	top: 0; bottom: 0; left: 0; right: 0;

	padding-top: calc(30px + (100vw - 320px) * (70 / 1600));
	padding-bottom: calc(30px + (100vw - 320px) * (70 / 1600));
}

.invoice-container .command-group .group-breadcrumb {
	display: flex;
	flex-direction: row;

	margin: 0 0 25px 0;
}

.invoice-container .command-group .group-breadcrumb .bread-node {
	font-weight: 300; /* font-weight: 400; - Слишком толстый */ 
	font-size: 16px;
	line-height: 19px;
	
	text-transform: uppercase;
	text-decoration: none;
	transition: .5s;

	color: white;
}

.invoice-container .command-group .group-breadcrumb .bread-node:hover {
	transform: scale(1.025);
	transition: .5s;
}

.invoice-container .command-group .group-breadcrumb .bread-node + .bread-node:before {
	margin: 0 .5em;
	content: ' / ';
}

.invoice-container .command-group .group-title {
	font-weight: 600;
	font-size: calc(27px + (100vw - 320px) * (1 / 1600));
	line-height: 29px;
	
	margin-bottom: 50px;

	color: white;
	cursor: default;
}

.invoice-container .command-group .group-buttons {
	display: flex;
	flex-wrap: wrap;
	row-gap: 25px;
}

.invoice-container .command-group .group-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.invoice-container .command-group .group-buttons .group-button {
	vertical-align: middle;
	
	border-radius: 12px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	padding: 0 5px;
	width: calc(75px + (100vw - 320px) * (50 / 1600));

	max-width: 125px;
	transition: .25s;
	
	background: #676767;

	cursor: pointer;
}

.invoice-container .command-group .group-buttons .group-button + .group-button {
	margin-left: calc(15px + (100vw - 768px) * (35 / 1152));
}

.invoice-container .command-group .group-button .image-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-top: calc(5px + (100vw - 320px) * (17 / 1600));
	padding-bottom: calc(0px + (100vw - 320px) * (10 / 1600));
	padding-left: 0;
	padding-right: 0;
	width: inherit; height: 50px;
}

.invoice-container .command-group .group-button .text-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: calc(10px + (100vw - 320px) * (5 / 1600));

}

.invoice-container .command-group .group-button .text-block p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: white;
}

.invoice-container .command-group .group-buttons .group-button:hover {
	transition: .25s;
	background: #0876A6;
}

.invoice-container .command-group .group-buttons .group-button img {
	max-width: calc(40px + (100vw - 320px) * (10 / 1600));
	/*margin-top: calc(10px + (100vw - 320px) * (14 / 1600));*/
}

.invoice-container .command-group .group-buttons .group-button p {
	/*padding: calc(5px + (100vw - 768px) * (17 / 1152)) 0;*/
}

.invoice-container .file-holder {
	margin-top: 50px;

	border-radius: 24px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
	
	background: white;
}

.invoice-container .file-holder .file-container {
	padding-top: 37px;
	padding-bottom: calc(10px + (100vw - 320px) * (54 / 1600));
}

.invoice-container .file-holder .file-container .groups {
	display: flex;
	flex-direction: column;
}

.invoice-container .file-holder .file-container .groups .group-info {
	cursor: default;
	margin-bottom: 40px;
}

.invoice-container .file-holder .file-container .groups .group-info p + p {
	margin-top: 10px;
}

.invoice-container .file-holder .file-container .groups .group-image {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: calc(0px + (100vw - 320px) * (30 / 1600));
	align-items: baseline;
	justify-content: space-evenly;
}

.invoice-container .file-holder .file-container .groups .group-image img {
	transition: .5s;
	/*padding: calc(5px + (100vw - 320px) * (13 / 1600));*/
	width: 100%;
	max-width: 242px; max-height: 340px;
	cursor: pointer;
}

.invoice-container .file-holder .file-container .groups .group-image img:hover {
	transition: .5s;
	transform: scale(1.025);
}

@media (max-width: 1340px) {
	.invoice-container .file-holder .file-container .groups {
		text-align: center;
	}
}

@media (max-width: 1024px) {
	.invoice-container .command-group .group-buttons {
		text-align: center;
	}

	.invoice-container .file-holder .file-container {
		padding-left: calc(10px - (100vw - 320px) * (15 / 704));
		padding-right: calc(10px - (100vw - 320px) * (15 / 704));
	}
}

@media (max-width: 768px) {
	.invoice-container .command-group .group-buttons .group-button + .group-button {
		margin-left: 15px;
	}

	.invoice-container .command-group .group-buttons {
		justify-content: center;
	}
}

@media (max-width: 576px) {
	.invoice-container .command-group .group-breadcrumb {
		justify-content: center;
	}
}

@media (max-width: 425px) {
	.invoice-container .command-group .group-buttons .group-button {
		margin-right: 0;
	}
}

/* -- END INVOICE CONTAINER -- */

/* -- INVOICE QR CODE -- */

.invoice-qr-code .qr-code-container {
	padding-left: calc(0px + (100vw - 768px) * (226 / 1152));
	padding-right: calc(0px + (100vw - 768px) * (226 / 1152));
	padding-bottom: calc(80px + (100vw - 320px) * (30 / 1600));
	display: flex;
	flex-direction: row;
	column-gap: calc(50px + (100vw - 320px) * (61 / 1600));
}

.invoice-qr-code .qr-code-container .qr-code-icon {
	background: url("/assets/images/background/0876A6.png");
	padding: 31px;
	border-radius: 12px;
	max-width: 118px;
	max-height: 118px;
}

.invoice-qr-code .qr-code-container .qr-code-text {
	padding-top: 10px;
	width: 725px;

	font-weight: 400;
	font-size: 20px;
	line-height: 29px;

	color: #181818;
	cursor: default;
}

.invoice-qr-code .qr-code-container .qr-code-text p + p {
	margin-top: calc(20px + (100vw - 768px) * (25 / 1152));
}

@media (max-width: 768px) {
	.qr-code-container {
		padding-left: 0;
		padding-right: 0;

		flex-wrap: wrap;
		justify-content: center;
		row-gap: 30px;
	}

	.invoice-qr-code .qr-code-container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.invoice-qr-code .qr-code-container .qr-code-text p + p {
		margin-top: 20px;
	}
}
/* -- END INVOICE QR CODE -- */

/* -- INVOICE PROJECT SLIDER -- */

.invoice-project-slider {
	position: relative;
	margin-bottom: 80px;
}

.invoice-project-slider .slider-container {
	margin-left: 15px;
	margin-right: 15px;
}

.invoice-project-slider .slider-container .slider-button {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 9999;
}

.invoice-project-slider .slider-container .slider-button.s-btn-left {
	left: 0;
}

.invoice-project-slider .slider-container .slider-button.s-btn-left .go-left {
	height: 100%;
	border: 0;
	background: transparent;
}

.invoice-project-slider .slider-container .slider-button.s-btn-left .go-left img,
.invoice-project-slider .slider-container .slider-button.s-btn-right .go-right img {
	padding-right: 10px;
}

.invoice-project-slider .slider-container .slider-button.s-btn-right {
	right: 0;
}

.invoice-project-slider .slider-container .slider-button.s-btn-right .go-right {
	height: 100%;
	border: 0;
	background: transparent;
	transform: rotate(180deg);
}

.invoice-project-slider .slider-container .slider-content {
	display: flex;
	height: 316px;
}

.invoice-project-slider .slider-container .slider-content .slider-item {
	display: inherit;
	background: url("/assets/images/background/454545.png");
	position: relative;
	border-radius: 10px;
	border: 0;
}

.invoice-project-slider .slider-container .slider-content .slider-item .slider-item-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	border: 0;
}

.invoice-project-slider .slider-container .slider-content .slider-item .slider-item-content .content-image {
	height: 50%;
}

.invoice-project-slider .slider-container .slider-content .slider-item .slider-item-content .content-text {
	height: 50%;
}

.invoice-project-slider .slider-container .slider-content .slider-item.active {

}

/*.invoice-project-slider .slider-container .slider-content .prev-overflow-item {*/
/*	display: inline-block;*/
/*	order: 1;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .prev-item {*/
/*	display: inline-block;*/
/*	order: 2;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .active {*/
/*	display: inline-block;*/
/*	order: 3;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .next-item {*/
/*	display: inline-block;*/
/*	order: 4;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .next-overflow-item {*/
/*	display: inline-block;*/
/*	order: 5;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .prev-overflow-moving-right {*/
/*	display: flex;*/
/*	order: 5 !important;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .prev-item-moving-right {*/
/*	display: flex;*/
/*	order: 1 !important;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .active-moving-right {*/
/*	display: flex;*/
/*	order: 2 !important;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .next-item-moving-right {*/
/*	display: flex;*/
/*	order: 3 !important;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .next-overflow-moving-right {*/
/*	display: block;*/
/*	order: 4 !important;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .prev-overflow-moving-left {*/
/*	order: 1 !important;*/
/*	transition: .5s;*/
/*	!*transform: translateX(394px);*!*/
/*	background: url("/assets/images/background/454545.png");*/

/*	opacity: 1;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .prev-item-moving-left {*/
/*	!*transform: scale(1.3);*!*/

/*	order: 2 !important;*/
/*	transition: .5s;*/
/*	background: url("/assets/images/background/454545.png");*/

/*	!*transform: translateX(394px);*!*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .active-moving-left {*/
/*	order: 3 !important;*/
/*	transition: .5s;*/
/*	display: block;*/
/*	background: url("/assets/images/background/454545.png");*/

/*	!*transform: translateX(394px);*!*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .next-item-moving-left {*/
/*	order: 4 !important;*/
/*	transition: .5s;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	!*transform: scale(1.3);*!*/

/*	!*transform: translateX(394px);*!*/

/*	opacity: 0;*/
/*}*/

/*.invoice-project-slider .slider-container .slider-content .next-overflow-moving-left {*/
/*	order: 5 !important;*/
/*	transition: .5s;*/
/*	background: url("/assets/images/background/454545.png");*/
/*	opacity: 0;*/
/*}*/


@media (max-width: 768px) {
	/*.invoice-project-slider .slider-container .slider-content .next-item-moving-right {*/
	/*	!*transform: translateX(-10px);*!*/
	/*}*/
}

/* -- END INVOICE PROJECT SLIDER -- */

/* -- INVOICE FOOTER -- */
footer {
	padding-top: 49px;
	padding-bottom: 46px;
	background: url("/assets/images/background/454545.png");
}

footer .footer-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-between;
	row-gap: 10px;
	column-gap: 20px;
}

footer .footer-container .companies {
	padding-top: 10px;
}

footer .footer-container .pay-services {
	padding-top: 25px;
}

footer .footer-container .contacts .contacts-title {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #CCCCCC;
}

footer .footer-container .connect-to-us .contacts-text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #BCBCBC;
	cursor: default;
}
footer .footer-container .contacts .contacts-link {
	text-decoration: none;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #999999;
	vertical-align: middle;
	transition: .25s;
}

footer .footer-container .contacts .contacts-link:hover {
	color: white;
	transition: .25s;
}

footer .footer-container .site-links .site-link-list {
	list-style: none;
	text-align: right;
}

footer .footer-container .site-links .site-link-list li + li {
	margin-top: .75em;
}

footer .footer-container .site-links .site-link-list .site-link {
	text-decoration: none;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	color: #ECECEC;
}

footer .footer-container .site-links .site-link-list .site-link:hover {
	text-decoration: underline;
}

footer .footer-container .company-legend {
	padding-top: 41px;
	cursor:default;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #CBCBCB;
}

footer .footer-container .pay-services .pay-services-links a,
footer .footer-container .contacts .contacts-icon,
footer .footer-container .companies .companies-links a,
footer .footer-container .connect-to-us .contacts-links a {
	filter: invert(63%) sepia(7%) saturate(0%) hue-rotate(135deg) brightness(88%) contrast(88%);
	display: inline-block;
}

footer .footer-container .pay-services .pay-services-links a:hover,
footer .footer-container .contacts .contacts-icon:hover,
footer .footer-container .companies .companies-links a:hover,
footer .footer-container .connect-to-us .contacts-links a:hover {
	filter: invert(100%) sepia(58%) saturate(1159%) hue-rotate(294deg) brightness(110%) contrast(106%);
}

footer .footer-container .pay-services .pay-services-links a + a,
footer .footer-container .contacts .contacts-icon a + a,
footer .footer-container .companies .companies-links a + a,
footer .footer-container .connect-to-us .contacts-links a + a {
	margin-left: 29px;
}

@media (max-width: 1140px) {
	footer .footer-container {
		grid-template-columns: repeat(2, auto);
	}

	footer .footer-container .footer-logo {
		order: 1;
	}

	footer .footer-container .connect-to-us {
		order: 2;
	}

	footer .footer-container .contacts {
		order: 3;
	}

	footer .footer-container .site-links {
		display: flex;
		flex-direction: column;
		justify-content: center;

		order: 4;
	}

	footer .footer-container .companies {
		order: 5;
	}

	footer .footer-container .pay-services {
		order: 6;
	}

	footer .footer-container .company-legend {
		order: 7;
	}
}

@media (max-width: 768px) {
	footer .footer-container {
		grid-template-columns: auto;
		justify-content: center;
		row-gap: 30px;
	}

	footer .footer-container .footer-logo {
		margin: auto;
		order: 1;
	}

	footer .footer-container .contacts {
		order: 2;
	}

	footer .footer-container .connect-to-us {
		text-align: center;
		order: 3;
		padding-bottom: 30px;
	}

	footer .footer-container .contacts .contacts-title {
		text-align: center;
	}

	footer .footer-container .companies {
		order: 4;
		text-align: center;
		padding-top: 0;
	}

	footer .footer-container .companies .companies-links img {
		width: calc(30px + (100vw - 320px) * (5 / 448));
	}

	footer .footer-container .pay-services {
		order: 5;
		text-align: center;
		padding-top: 0;
	}

	footer .footer-container .site-links {
		text-align: center;
		order: 6;
	}

	footer .footer-container .site-links .site-link-list {
		text-align: center;
	}

	footer .footer-container .company-legend {
		order: 7;
		text-align: center;
	}
}

/* -- END INVOICE FOOTER -- */
